<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Mp3 Confessions</title>

  <!-- Favicon -->
  <link rel="icon" href="assets/musica/img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="assets/musica/style.css">
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <!-- ##### Preloader ##### -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="circle-preloader">
      <img src="assets/musica/img/core-img/compact-disc.png" alt="">
    </div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <!-- Navbar Area -->
    <div class="musica-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container-fluid">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="musicaNav">

            <!-- Nav brand -->
            <a href="index.html" class="nav-brand"><img src="assets/musica/img/core-img/logo.png" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- close btn -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About us</a></li>
                  <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="concert-tours.html">Concert &amp; Tours</a></li>
                      <li><a href="blog.html">News</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="elements.html">Elements</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mega Menu</a>
                    <div class="megamenu">
                      <ul class="single-mega cn-col-4">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="concert-tours.html">Concert &amp; Tours</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                      </ul>
                      <ul class="single-mega cn-col-4">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="concert-tours.html">Concert &amp; Tours</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                      </ul>
                      <ul class="single-mega cn-col-4">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="concert-tours.html">Concert &amp; Tours</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                      </ul>
                      <ul class="single-mega cn-col-4">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="concert-tours.html">Concert &amp; Tours</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="concert-tours.html">Gallery</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>

                <!-- Social Button -->
                <div class="top-social-info">
                  <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>

              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url(assets/musica/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
      <h2>Latest confessions:</h2>
    </div>
  </div>
  <!-- bg gradients -->
  <div class="bg-gradients"></div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Blog Area Start ##### -->
  <div class="blog-area mt-30 section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="fitness-blog-posts">

            <div id="confessions-list"></div>

            <!-- Pagination -->
            <div class="musica-pagination-area wow fadeInUp" data-wow-delay="700ms">
              <nav>
                <ul class="pagination">
                  <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                  <li class="page-item"><a class="page-link" href="#">02.</a></li>
                  <li class="page-item"><a class="page-link" href="#">03.</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Blog Area End ##### -->

  <!-- ##### CTA Area Start ##### -->
  <div class="musica-cta-area section-padding-100 bg-img bg-overlay2" style="background-image: url(assets/musica/img/blog-img/4.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content d-flex justify-content-between align-items-center">
            <div class="cta-text">
              <h4>Contact me now</h4>
              <h2>Do you have a question?</h2>
              <h6>Morbi quis venenatis augue, a tincidunt libero. Sed id porttitor elit, eu ultricies mauris.</h6>
            </div>
            <div class="cta-btn">
              <a href="https://www.facebook.com/bachminhduc1996" target="_blank" class="btn musica-btn">contact me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### CTA Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area section-padding-100-0">
    <div class="container-fluid">
      <div class="row">

        <!-- Footer Widget Area -->
        <div class="col-12 col-md-12 col-xl-12">
          <div class="footer-widget-area mb-100 text-center">
            <a href="#"><img src="assets/musica/img/core-img/logo2.png" alt=""></a>
            <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ##### Footer Area Start ##### -->

  <a id="writeCFS" class="write-cfs" href="#"
    data-toggle="modal" data-target="#write-confession-dialog"
    style="">
    <i class="fa fa-pencil fa-3x"></i>
  </a>

  <!-- Modal -->
  <div class="modal fade" id="write-confession-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>

  <!-- ##### All Javascript Script ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="assets/musica/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="assets/musica/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="assets/musica/js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="assets/musica/js/plugins/plugins.js"></script>
  <!-- Active js -->
  <script src="assets/musica/js/active.js"></script>

  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  <!-- <script src="libs/jquery-3.1.1.min.js"></script> -->

  <script src="home.js" type="text/babel"></script>
</body>

</html>
