<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Mp3 Confessions</title>

  <!-- Favicon -->
  <link rel="icon" href="assets/musica/img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="assets/musica/style.css">
  <link rel="stylesheet" href="libs/alertifyjs/css/alertify.min.css">
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <!-- ##### Preloader ##### -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="circle-preloader">
      <img src="assets/musica/img/core-img/compact-disc.png" alt="">
    </div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <!-- Navbar Area -->
    <div class="musica-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container-fluid">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="musicaNav">

            <!-- Nav brand -->
            <a href="#" class="nav-brand text-logo">
              Mp3 Confessions
            </a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- close btn -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul>
                  <li>
                    <a target="_blank" href="http://nghethuatsong.com.vn/v712/6-loi-ich-cua-am-nhac.html">
                      6 lợi ích của âm nhạc
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Hot confessions khắp nơi
                    </a>
                    <ul class="dropdown">
                      <li><a target="_blank" href="https://ione.vnexpress.net/tin-tuc/nhip-song/nhung-cau-to-tinh-chat-ngat-tren-confession-cac-truong-3097452.html">Những cfs tỏ tình chất ngất</a></li>
                      <li><a target="_blank" href="https://news.zing.vn/nhung-confession-bach-khoa-lay-nuoc-mat-dan-mang-post500733.html">Những cfs rơi nước mắt</a></li>
                      <li><a target="_blank" href="https://www.ohay.tv/list/cuoi-nghieng-nga-voi-confession-khong-the-ba-dao-hon/56f505a041">Những cfs không thể bá đạo hơn</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Về tôi</a>
                    <div class="megamenu">
                      <ul class="single-mega cn-col-3">
                        <li><a target="_blank" href="https://www.facebook.com/bachminhduc1996/about/">Tôi là Đức</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/photo.php?fbid=1973884699385722&set=t.100004043929299&type=3&theater">Cử nhân Software Engineering - ĐH FPT</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/nusschoolofcomputing/photos/a.10153854768598885/10153854775023885/?type=3&theater">ACM-ICPC Singapore 2015</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/pg/khoapham.vn/photos/?tab=album&album_id=430081990497031">Game iOS "Just Get Candies"</a></li>
                      </ul>
                      <ul class="single-mega cn-col-3">
                        <li><a target="_blank" href="http://cocdoc.fpt.edu.vn/tin-tuc/21147/de-gio-cuon-di-dem-nhac-y-nghia-cua-sv-dh-fpt-danh-cho-tre-em-nhan-16">Đêm nhạc "Để gió cuốn đi"</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=oACO_OqZAu8">Đẹp Quá Em Ơi! - Nhạc chế</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=b_YO34RHE34">Aloha - Harmonica & Guitar Cover</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=HmWhc9wpU5g">Phim ngắn kinh dị</a></li>
                      </ul>
                      <ul class="single-mega cn-col-3">
                        <li><a target="_blank" href="https://www.facebook.com/bachminhduc1996">Xem Facebook</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UC1CiRlDHJFheKEJ2KL-iM3w/videos">Xem Youtube</a></li>
                        <li><a target="_blank" href="http://codeforces.com/profile/minhduc150496">Xem profile Codeforces</a></li>
                        <li><a target="_blank" href="https://github.com/minhduc150496">Xem Github</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a target="_blank" href="https://github.com/minhduc150496/Mp3Confessions">
                      Source code
                    </a>
                  </li>
                </ul>

                <!-- Social Button -->
                <div class="top-social-info">
                  <a target="_blank" href="https://www.facebook.com/bachminhduc1996"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="https://www.youtube.com/channel/UC1CiRlDHJFheKEJ2KL-iM3w/videos"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://codeforces.com/profile/minhduc150496"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
                </div>

              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url(assets/musica/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
      <h2>Latest confessions:</h2>
    </div>
  </div>
  <!-- bg gradients -->
  <div class="bg-gradients"></div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Blog Area Start ##### -->
  <div class="blog-area mt-30 section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="fitness-blog-posts">

            <div id="confessions-list"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Blog Area End ##### -->

  <!-- ##### CTA Area Start ##### -->
  <div class="musica-cta-area section-padding-100 bg-img bg-overlay2" style="background-image: url(images/friends.jpg);background-size: contain;
    background-position: right;background-color: black;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content d-flex justify-content-between align-items-center">
            <div class="cta-text">
              <h4>Contact me now</h4>
              <h2>Do you have a question?</h2>
              <div class="cta-btn">
                <a href="https://www.facebook.com/bachminhduc1996" target="_blank" class="btn musica-btn">contact me via Facebook</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### CTA Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <div class="container-fluid">
      <div class="row">

        <!-- Footer Widget Area -->
        <div class="col-12 col-md-12 col-xl-12">
          <div class="footer-widget-area text-center">
            <a href="#" class="text-logo">
              Mp3 Confessions
            </a>
            <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ##### Footer Area Start ##### -->

  <a id="writeCFS" class="write-cfs" href="#"
    data-toggle="modal" data-target="#write-confession-dialog">
    <i class="fa fa-pencil fa-3x"></i>
  </a>

  <!-- Modal -->
  <div class="modal fade" id="write-confession-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>

  <!-- ##### All Javascript Script ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="assets/musica/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="assets/musica/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="assets/musica/js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="assets/musica/js/plugins/plugins.js"></script>
  <!-- Active js -->
  <script src="assets/musica/js/active.js"></script>

  <script src="libs/alertifyjs/alertify.min.js"></script>

  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <script src="home.js" type="text/babel"></script>
</body>

</html>
