@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=vietnamese');

*{
  font-family: "Montserrat", sans-serif !important;
}
i.fa {
  font-family: "FontAwesome" !important;
}
p {
  font-weight: 600;
}

iframe {
  max-width: 100%;
}

::placeholder {
  color: #cfcfcf !important;
}

.text-logo {
    font-family: 'Cookie', cursive !important;
    font-size: 46px !important;
}
header .text-logo {
    color: white !important;
    width: 250px !important;
    max-width: unset !important;
}
.header-area .musica-main-menu .classy-navbar .classynav ul li a {
  font-weight: 400;
}
.header-area .musica-main-menu .classy-navbar .classynav ul li ul li a {
  color: black;
  font-weight: 600;
}

.breadcumb-area .bradcumbContent {
  height: 64px;
}
.breadcumb-area .bradcumbContent h2 {
    font-weight: 300;
    font-size: 28px;
    line-height: 64px;
}
.post-separator {
    margin-right: auto;
    height: 1px;
    width: 50% !important;
}
.write-cfs {
    position: fixed;
    z-index: 1000;
    display: block;
    background: #cc1573;
    background: -webkit-linear-gradient(to right, #cc1573, #5722a9);
    background: linear-gradient(to right, #cc1573, #5722a9);
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff !important;
    line-height: 40px;
    text-align: center;
    right: 50px;
    bottom: 50px;
    height: 70px;
    width: 70px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
.write-cfs:hover {
    right: 55px;
}
.write-cfs .fa {
    margin-top: 12px;
}

#scrollUp {
    bottom: 135px;
    right: 55px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 1000 !important;
}
#scrollUp:hover {
  right: 60px;
}
#scrollUp .fa {
  margin-top: 5px;
}

.input-message {
  height: 250px;
}

.breakpoint-off .classynav ul li .dropdown {
 width: 320px;
}

.musica-pagination-area .pagination .page-item.active .page-link {
  text-decoration: underline;
}

.cta-content .cta-text h2 {
  font-size: 55px;
}
.cta-btn {
  margin-top: 15px;
}
.footer-area {
    padding-bottom: 30px;
    padding-top: 30px;
}

#write-confession-dialog a:hover {
  text-decoration: underline;
}
#write-confession-dialog  h2 {
  font-size: 28px;
}

.ajs-message.ajs-custom {
  background: linear-gradient(to right, #cc1573, #5722a9);
  border: 3px solid black;
  color: black;
  shadow: black 0 0 15px;
  font-size: 20px;
}
